p, h1, h2, h3, a, li {
    font-family: "Ubuntu", Helvetica, sans-serif;
}
h1 {
    text-transform: uppercase
}
h2 {
    text-transform: capitalize
}
body {
    margin : 2cm 3cm;
}
blockquote {
    background-color: #f3f3f3;
    border-left: 5px solid orange;
    border-radius: 6px;
    padding: 1px 0px;
}
blockquote p {
    padding-left: 10px;
}

